<h3>Enter Your Puzzle:</h3>
<form id='puzzle-input' action='/' method='post'>
  <table class='center'>
    <% i = 0 %>
    <% 9.times do %>
    <tr>
      <% 9.times do %>
      <td>
      <input class='input-cell' name='<%= i %>' type='text' maxlength='1'>
      <% i += 1 %>
      </td>
      <% end %>
    </tr>
    <% end %>
  </table>
    <input id='submit-btn' type='submit' value='Submit!'>
</form>
