<h1>Enter Your Sudoku Puzzle:</h1>
<form id='puzzle-input' action='/' method='post'>
  <div id="row-1">
    <input class='input-cell' name='idx-0' type='text' maxlength='1'>
    <input class='input-cell' name='idx-1' type='text' maxlength='1'>
    <input class='input-cell' name='idx-2' type='text' maxlength='1'>
    <input class='input-cell' name='idx-3' type='text' maxlength='1'>
    <input class='input-cell' name='idx-4' type='text' maxlength='1'>
    <input class='input-cell' name='idx-5' type='text' maxlength='1'>
    <input class='input-cell' name='idx-6' type='text' maxlength='1'>
    <input class='input-cell' name='idx-7' type='text' maxlength='1'>
    <input class='input-cell' name='idx-8' type='text' maxlength='1'>
  </div>
  <div id="row-2">
    <input class='input-cell' name='idx-9' type='text' maxlength='1'>
    <input class='input-cell' name='idx-10' type='text' maxlength='1'>
    <input class='input-cell' name='idx-11' type='text' maxlength='1'>
    <input class='input-cell' name='idx-12' type='text' maxlength='1'>
    <input class='input-cell' name='idx-13' type='text' maxlength='1'>
    <input class='input-cell' name='idx-14' type='text' maxlength='1'>
    <input class='input-cell' name='idx-15' type='text' maxlength='1'>
    <input class='input-cell' name='idx-16' type='text' maxlength='1'>
    <input class='input-cell' name='idx-17' type='text' maxlength='1'>
  </div>
  <div id="row-3">
    <input class='input-cell' name='idx-18' type='text' maxlength='1'>
    <input class='input-cell' name='idx-19' type='text' maxlength='1'>
    <input class='input-cell' name='idx-20' type='text' maxlength='1'>
    <input class='input-cell' name='idx-21' type='text' maxlength='1'>
    <input class='input-cell' name='idx-22' type='text' maxlength='1'>
    <input class='input-cell' name='idx-23' type='text' maxlength='1'>
    <input class='input-cell' name='idx-24' type='text' maxlength='1'>
    <input class='input-cell' name='idx-25' type='text' maxlength='1'>
    <input class='input-cell' name='idx-26' type='text' maxlength='1'>
  </div>
  <div id="row-4">
    <input class='input-cell' name='idx-27' type='text' maxlength='1'>
    <input class='input-cell' name='idx-28' type='text' maxlength='1'>
    <input class='input-cell' name='idx-29' type='text' maxlength='1'>
    <input class='input-cell' name='idx-30' type='text' maxlength='1'>
    <input class='input-cell' name='idx-31' type='text' maxlength='1'>
    <input class='input-cell' name='idx-32' type='text' maxlength='1'>
    <input class='input-cell' name='idx-33' type='text' maxlength='1'>
    <input class='input-cell' name='idx-34' type='text' maxlength='1'>
    <input class='input-cell' name='idx-35' type='text' maxlength='1'>
  </div>
  <div id="row-5">
    <input class='input-cell' name='idx-36' type='text' maxlength='1'>
    <input class='input-cell' name='idx-37' type='text' maxlength='1'>
    <input class='input-cell' name='idx-38' type='text' maxlength='1'>
    <input class='input-cell' name='idx-39' type='text' maxlength='1'>
    <input class='input-cell' name='idx-40' type='text' maxlength='1'>
    <input class='input-cell' name='idx-41' type='text' maxlength='1'>
    <input class='input-cell' name='idx-42' type='text' maxlength='1'>
    <input class='input-cell' name='idx-43' type='text' maxlength='1'>
    <input class='input-cell' name='idx-44' type='text' maxlength='1'>
  </div>
  <div id="row-6">
    <input class='input-cell' name='idx-45' type='text' maxlength='1'>
    <input class='input-cell' name='idx-46' type='text' maxlength='1'>
    <input class='input-cell' name='idx-47' type='text' maxlength='1'>
    <input class='input-cell' name='idx-48' type='text' maxlength='1'>
    <input class='input-cell' name='idx-49' type='text' maxlength='1'>
    <input class='input-cell' name='idx-50' type='text' maxlength='1'>
    <input class='input-cell' name='idx-51' type='text' maxlength='1'>
    <input class='input-cell' name='idx-52' type='text' maxlength='1'>
    <input class='input-cell' name='idx-53' type='text' maxlength='1'>
  </div>
  <div id="row-7">
    <input class='input-cell' name='idx-54' type='text' maxlength='1'>
    <input class='input-cell' name='idx-55' type='text' maxlength='1'>
    <input class='input-cell' name='idx-56' type='text' maxlength='1'>
    <input class='input-cell' name='idx-57' type='text' maxlength='1'>
    <input class='input-cell' name='idx-58' type='text' maxlength='1'>
    <input class='input-cell' name='idx-59' type='text' maxlength='1'>
    <input class='input-cell' name='idx-60' type='text' maxlength='1'>
    <input class='input-cell' name='idx-61' type='text' maxlength='1'>
    <input class='input-cell' name='idx-62' type='text' maxlength='1'>
  </div>
  <div id="row-8">
    <input class='input-cell' name='idx-63' type='text' maxlength='1'>
    <input class='input-cell' name='idx-64' type='text' maxlength='1'>
    <input class='input-cell' name='idx-65' type='text' maxlength='1'>
    <input class='input-cell' name='idx-66' type='text' maxlength='1'>
    <input class='input-cell' name='idx-67' type='text' maxlength='1'>
    <input class='input-cell' name='idx-68' type='text' maxlength='1'>
    <input class='input-cell' name='idx-69' type='text' maxlength='1'>
    <input class='input-cell' name='idx-70' type='text' maxlength='1'>
    <input class='input-cell' name='idx-71' type='text' maxlength='1'>
  </div>
  <div id="row-9">
    <input class='input-cell' name='idx-72' type='text' maxlength='1'>
    <input class='input-cell' name='idx-73' type='text' maxlength='1'>
    <input class='input-cell' name='idx-74' type='text' maxlength='1'>
    <input class='input-cell' name='idx-75' type='text' maxlength='1'>
    <input class='input-cell' name='idx-76' type='text' maxlength='1'>
    <input class='input-cell' name='idx-77' type='text' maxlength='1'>
    <input class='input-cell' name='idx-78' type='text' maxlength='1'>
    <input class='input-cell' name='idx-79' type='text' maxlength='1'>
    <input class='input-cell' name='idx-80' type='text' maxlength='1'>
  </div>
  <input type='submit' value='Submit!'>
</form>
