<h1> Click a Blank Square to Reveal</h1>

<table>
  <% i = 0 %>
  <% 9.times do %>
  <tr>
    <% 9.times do %>
    <td
      <% if @board.indexes_of_givens.include?(i) %>
      class='given_cell'
      <% else %>
      class='solved_cell'
      <% end %>
      ><%= @board.squares.shift[0] %></td>
    <% i += 1 %>
    <% end %>
  </tr>
  <% end %>
</table>

<button id='show-solution-btn'>Show Solution</button>
<button id='hide-solution-btn'>Hide Solution</button>
<button id='home-btn'>Home</button>
