<h3> Click a Square to Reveal</h3>

<table class='center'>
  <% i = 0 %>
  <% squares = @board.squares.flatten %>
  <% 9.times do |x| %>
    <tr>
      <% 9.times do |y| %>
        <td
          <% if @board.indexes_of_givens.include?(i) %>
            <% cell_class = "given_cell " %>
          <% else %>
            <% cell_class = "solved_cell " %>
          <% end %>
          class = <%= cell_class %>
        >
          <%= squares.shift %>
        </td>
        <% i += 1 %>
      <% end %>
    </tr>
  <% end %>
</table>

<button id='show-solution-btn'>Show Solution</button>
<button id='home-btn'>Home</button>
<button id='hide-solution-btn'>Hide Solution</button>

<img id="guy-img" src="http://i.imgur.com/QWwUxN7.jpg"></img>
